</head>

<body>
    <header>
        <div class="header-logo">
            <label>Tasty Dough</label>
        </div>
        <nav class="main-nav">
            <ul class="nav-options">
                <li class="nav-item"><a href="/"><img src="/icons/home.png" alt="home icon" title="home"></a></li>
                <li class="nav-item"><a href="/bakery"><img src="/icons/bakery.png" alt="bakery icon"
                            title="bakery"></a></li>
                <li class="nav-item"><a href="/cart"><img src="/icons/cart.png" alt="cart icon" title="cart"></a></li>
                <li class="nav-item"><a href="/admin/add-product"><img src="/icons/add.png" alt="add icon"
                            title="add product"></a></li>
                <li class="nav-item"><a href="/manage"><img src="/icons/manage.png" alt="manage icon"
                            title="manage product"></a></li>
                <li class="nav-item"><a href="/change-password"><img src="/icons/password.png" alt="password icon"
                            title="change password"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>