<%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/product-form.css">
    <%- include("../partials/header.ejs") %>

        <form action="/order-form" method="post">
            <% if (error) {%>
                <div class="form-error">
                    <label for="">
                        <%= error %>
                    </label>
                </div>
                <%} %>
                    <div class="label-input">
                        <label for="fullName">Full Name:</label>
                        <input type="text" name="fullName">
                    </div>
                    <div class="label-input">
                        <label for="pickupDate">Pickup Date:</label>
                        <input type="date" name="pickupDate">
                    </div>
                    <div class="label-input">
                        <label for="pickupTime">Pickup Date:</label>
                        <input type="time" name="pickupTime">
                    </div>
                    <div class="label-input">
                        <label for="mobileNumber">Mobile Number:</label>
                        <input type="tel" name="mobileNumber">
                    </div>
                    <button type="submit" class="btn add-btn">Confirm Order</button>
        </form>
        <%- include("../partials/footer.ejs") %>