<%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/error.css">
    <%- include("../partials/header.ejs") %>
        <div class="error-details">
            <h1>Not Found</h1>
            <a href="/bakery" class="btn">Go to bakery</a>
        </div>
        <%- include("../partials/footer.ejs") %>